.img {
  position: relative;
  text-align: center;
  height: 100%;
}

.infoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  height: 5%;
  width: 10%;
}

.textAlign {
  margin-top: 10px;
}

.cardContainer {
  background-color: rgba(77, 105, 199, 0.5);
  height: 20rem;
  width: 20rem;
  float: right;
  margin-right: 20rem;
  margin-top: -5px;
}

.title {
  text-align: center;
  margin-top: 10px;
}

.info-contact-us {
  margin-left: 2rem;
  margin-top: 30px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.row {
  content: "";
  display: table;
  clear: both;
}

.formContainer {
  width: 70vh;
  margin-left: 10vh;
  margin-bottom: 10vh;
  height: 20%;
  /* background-color: red; */
}

.col25 {
  width: 10vh;
}

.col75 {
  width: 75%;
}

input {
  width: 100%;
  height: 100%;
}

.button {
  height: 30px;
  width: 75%;
  background-color: green;
  color: green;
}
